{{>header}}
<h1>Editar infracción</h1>

<form onsubmit="return editarInfraccion(this);" id="form">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="placa_vehiculo">Placa</label>
      <select id="placa_vehiculo" name="placa_vehiculo" class="form-control">
        {{#each vehiculos }}
        <option>{{this.placa}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="descripcion">Descripción</label>
      <textarea class="form-control " id="descripcion" placeholder="Ingrese descripción de la infracción"
        cols="90"></textarea>
      <div class="invalid-feedback">
        Please enter a message in the textarea.
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="fecha">Fecha</label>
      <input type="date" class="form-control" id="fecha" value="">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="tipo_sancion">Tipo sanción</label>
      <select id="id_tipo" class="form-control">
        {{#each sanciones }}
        <option value={{this.id}}>{{this.nombre}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>

<script type="text/javascript">
  function editarInfraccion(event) {
    const placa_vehiculo = document.querySelector('#placa_vehiculo').value
    const descripcion = document.querySelector('#descripcion').value
    const fecha = document.querySelector('#fecha').value
    const id_tipo = document.querySelector('#id_tipo').value
    const body = { placa_vehiculo, descripcion, fecha, id_tipo }
    const tieneErrores = validarDatos(body)
    if(!tieneErrores){
      fetch('/infracciones', {
        method: 'POST', 
        headers: { 'Content-Type': 'application/json' }, 
        body: JSON.stringify(body)
      })
        .then(res => {
          alert('Infracción agregada correctamente')
          window.location = "/";
        })
        .catch(err => console.error("Error al eliminar infracción: " + err))
    }else{
      alert("Faltan campos por llenar...")
    }

    return false;
  }

  function validarDatos(objetoInfo){
    return Object.values(objetoInfo).some( dato => dato === "")
  }
</script>

{{>footer}}